<details>
  <summary>Shopping Cart</summary>
  <ul>
    <% if @cart.empty? %>
      <li>No items in cart.</li>
    <% else %>
      <% @cart.each do |product| %>
        <li>
          <%= product.name %> - <%= link_to 'Remove', remove_from_cart_path(product), method: :delete%>
        </li>
      <% end %>
    <% end %>
  </ul>
</details>
<div class="columns is-multiline">
  <%= render @artists%>
</div>