<section class="section">
  <h1 class="subtitle">List of All Artists</h1>
  <ul>
    <% @artists.each do |x| %>
      <li>
        <%= link_to x.name, show_artist_path(x.id) %>
      </li>
    <% end %>
  </ul>
</section>
