<section class="section">
  <h1 class="subtitle">List of All Songs</h1>
  <ul>
    <% @songs.each do |x| %>
      <li>
        <%= link_to x.name, show_song_path(x.id) %>
      </li>
    <% end %>
  </ul>
</section>
