<section class="section">
  <p class="title is-4">
    <ul>
      <li>
        Song Title:
        <strong>
          <%= @song.name %>
        </strong>
      </li>
      <li>
        Release Date:
        <strong><%= @song.release_date %></strong>
      </li>
      <li>
        Artist:
        <strong>
          <%= @song.artist.name %>
        </strong>
      </li>
  </p>
</section>