<section class="section">
  <h1 class="subtitle">List of All Albums</h1>
  <ul>
    <% @albums.each do |x| %>
      <li>
        <%= link_to x.name, show_album_path(x.id) %>
      </li>
    <% end %>
  </ul>
</section>
